<app-header />

<main>
    <ul id="users">
        <li>
            <app-user 
                [id]="users[0].id"
                [avatar]="users[0].avatar"
                [name]="users[0].name"
                (select)="onSelectUser($event)"
                />
        </li>
        <li>
            <app-user 
                [id]="users[1].id"
                [avatar]="users[1].avatar"
                [name]="users[1].name"
                (select)="onSelectUser($event)"
                />
        </li>
        <li>
            <app-user 
                [id]="users[2].id"
                [avatar]="users[2].avatar"
                [name]="users[2].name"
                (select)="onSelectUser($event)"
                />
        </li>
        <li>
            <app-user 
                [id]="users[3].id"
                [avatar]="users[3].avatar"
                [name]="users[3].name"
                (select)="onSelectUser($event)"
                />
        </li>
    </ul>

    <!-- Create a Tasks component that recieves and outputs the name of the selected user -->
    <!-- Hint to find user w specific id in DUMMY_USERS array: 
    DUMMY_USERS.find(user => user.id === selectedUserId) -->
    <!-- Id is found within AppComponent, Tasks should called within AppComponent -->
    <app-tasks 
    [name]="selectedUser.name"
    />
    <!-- <app-tasks name="" -->
</main>